<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">JADWAL TOURNAMENT</h4>
                        <p class="card-description"> PBNC TAHUN 2021 </p>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>PERTANDINGAN</th>
                                        <th>ID PERTANDINGAN</th>
                                        <th>TANGGAL MAIN</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>RRQ ENDEAVOUR VS BOOM ID</td>
                                        <td>02</td>
                                        <td>28 OKTOBER 2021</td>
                                        <td><label class="badge badge-success">Completed</label></td>
                                    </tr>
                                    <tr>
                                        <td>N1CS VS AE</td>
                                        <td>04</td>
                                        <td>30 OKTOBER 2021</td>
                                        <td><label class="badge badge-warning">In progress</label></td>
                                    </tr>
                                    <tr>
                                        <td>RRQ ENDEAVOUR VS AE</td>
                                        <td>06</td>
                                        <td>1 NOVEMBER 2021</td>
                                        <td><label class="badge badge-warning">In progress</label></td>
                                    </tr>
                                    <tr>
                                        <td>N1CS VS BOOM ID</td>
                                        <td>08</td>
                                        <td>3 NOVEMBER 2021</td>
                                        <td><label class="badge badge-warning">In progress</label></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>